@{
    ViewBag.Title = "Home";
}
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('https://s23.postimg.org/c9xfvqph7/logo_Recovered.png');"></div>
            <div class="carousel-caption">
                <h1>Task Organizr - A Universal Windows Platform App</h1>
                <a href="https://www.microsoft.com/store/apps/9p16z2926k8w" class="btn btn-success img-responsive"><h4>Download from Windows Store</h4></a>
                <br /><h6>For Windows 10 with Anniversairy Update and above</h6>
            </div>
        </div>
    </div>
</div>

<div class="section-colored">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="https://store-images.s-microsoft.com/image/apps.10611.14517058965980664.05eaa70e-e342-44c9-8a79-dc33bc9b40bc.b69af7ed-762a-4e24-b9b8-832e6b1e5fa2?w=1398&h=788&q=60">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Organize your things:</h2>
                <ul>
                    <li>Create Categories</li>
                    <li>Create Lists on each Category</li>
                    <li>Create Tasks on each List</li>
                </ul>
            </div>       
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Add features to every Task:</h2>
                <ul>
                    <li>Add a name</li>
                    <li>Add a Description</li>
                    <li>Give a priority</li>
                    <li>Add a deadline</li>
                    <li>Complete it by clicking on it!!</li>
                    <li>Don't make it expire! :(</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="https://store-images.s-microsoft.com/image/apps.20211.14517058965980664.43fa72ec-ef05-4abb-ae46-24004792162e.5baf9764-6cd2-4593-8c0c-a8fed9c5bdff?w=1398&h=789&q=60">
            </div>
        </div>
    </div>
</div>
<div class="section-colored">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="https://store-images.s-microsoft.com/image/apps.36146.14517058965980664.4ff4329c-973e-48de-97d0-98a239723c2a.b0a21d86-baed-401b-9c3d-817348d02de9?w=1399&h=796&q=60">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Adding Push Notifications</h2>
                <ul>
                    <li>Get push notification for every task which is going to expire!</li>
                    <li style="margin-left:10px;">Depend on setting!</li>
                    <li>Get push notification for every task which is expired!</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <center>
                <h1>And ofcourse it's OpenSource:</h1>
                <a href="https://github.com/ChasakisD/Task-Organizr/" class="btn btn-warning img-responsive"><h4>Task Organizr GitHub Repository</h4></a>
		<br/><a href="https://github.com/ChasakisD/TaskOrganizrMVC/" class="btn btn-warning img-responsive"><h4>Task Organizr GitHub Repository</h4></a>
            </center>
        </div>
    </div>
</div>